<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RSTL.ScreenCapture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RSTL.ScreenCapture.Properties.Settings>
            <setting name="ImageFormat" serializeAs="String">
                <value>JPG</value>
            </setting>
            <setting name="SaveDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="StartWithWindows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoCheckUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotKeyShortcut" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveBehavior" serializeAs="String">
                <value>Ask</value>
            </setting>
        </RSTL.ScreenCapture.Properties.Settings>
    </userSettings>
</configuration>